@model Brand

<form method="post">
    <input asp-for="BrandId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Remove Brand</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" type="text" class="form-control" disabled />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Remove</button>
        <a asp-controller="Brand" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
    </div>
</form>
