@model TransmissionType

<form method="post">
    <input asp-for="TransmissionTypeId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Transmission Type</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Type" class="p-0"></label>
            <input asp-for="Type" type="text" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="TransmissionType" asp-action="Index" class="btn btn-primary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
